<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="-metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img src="https://cdn.pixabay.com/photo/2017/08/10/06/06/controller-2618897_1280.jpg" alt="thumbnail" class="game-thumbnail" />
    </div>
    <div class="game-description">
      <p class="game-name">Game Name</p>
      <div class="game-platforms">
          <img src="https://th.bing.com/th/id/OIP.fBi1NqrD64bUzcww-neTNgHaDf?rs=1&pid=ImgDetMain" alt="slug" class="game-platform">
      </div>
    </div>
  </div>
</div>
